# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
/source/.atom/
/source/.buildlog/
/source/.history
/source/.svn/
/source/migrate_working_dir/

# IntelliJ related
/source/*.iml
/source/*.ipr
/source/*.iws
/source/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#/source/.vscode/

# Flutter/Dart/Pub related
/source/**/doc/api/
/source/**/ios/Flutter/.last_build_id
/source/.dart_tool/
/source/.flutter-plugins
/source/.flutter-plugins-dependencies
/source/.packages
/source/.pub-cache/
/source/.pub/
/source/build/
/source/functions/

# Symbolication related
/source/app.*.symbols

# Obfuscation related
/source/app.*.map.json

# Android Studio will place build artifacts here
/source/android/app/debug
/source/android/app/profile
/source/android/app/release
