<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521732512335-v467jlsp67nmippko80fri73l9mua3cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521732512335-v467jlsp67nmippko80fri73l9mua3cb</string>
	<key>API_KEY</key>
	<string>AIzaSyCR94-DB193krdyaiuwdlV7mBqy_wLEMsA</string>
	<key>GCM_SENDER_ID</key>
	<string>521732512335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pawfection.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pawfection-c14ed</string>
	<key>STORAGE_BUCKET</key>
	<string>pawfection-c14ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521732512335:ios:a2f1352f1fac2030d4683a</string>
</dict>
</plist>